// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda {
      filter: invert(0);
    }
  }
}

body[a='dark'] {
  @include dark-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a='auto'] {
    @include dark-appearance;
  }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html,
body {
  background: white;
}

html {
  height: 100%;
}

body {
  color: black;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.meta {
  color: #aaa;
  text-align: left;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
}

hr {
  // background-color: #eee;
  color: black;
  // font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
  border: 0;

  // border-radius: 5px;
  // border: 1px solid #ddd;
  // border-radius: 5px;
  // box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  &:before {
    content: '///// ';
  }
  &:after {
    content: attr(data-content) ' /////';
  }
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

// code {
//   color: black;
//   background: #eee;
//   padding: 1px 10px;
//   font-style: oblique;
// }

pre {
  margin: 0;
}

// Code block
figure.highlight {
  max-width: 90%;
  padding: 10px;
  margin: 0;
  overflow-x: auto;
  white-space: pre-wrap;
  font-style: italic;
  border-radius: 20px;
  color: black;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 12px;
  // box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
figure pre {
  // margin: 10px;
  padding: 10px;
}

// Inline code
code.highlighter-rouge {
  // overflow-x: auto;
  // white-space: pre-wrap;
  // padding: 1rem;
  color: black;
  background: #eee;
  padding: 1px 5px;
  font-style: oblique;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  // box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

blockquote {
  background-color: #eee;
  font-style: italic;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 30px;

  p {
    margin: 0 !important;
  }
}

img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

header {
  margin-bottom: 25px;
}
h1 {
  color: white;
  background: black;
  margin-bottom: 0;
  padding: 0 10px;
  margin: 10px 0;
}
header p {
  margin-top: 0;
}

article p {
  margin: 2rem 0;
}
